.position-relative {
  position: relative;
}

.position-abs {
  position: absolute;
}

.transform-setCenter {
  transform: translate(-50%, -50%);
}

.position-top {
  top: 0;
}

.position-right {
  right: 0;
}

.position-absCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-bottom {
  bottom: 0%;
}
.position-topOver {
  bottom: 100%;
}

.position-left-2 {
  left: 4rem !important;
}
.position-top-8 {
  top: 8rem !important;
}
