$color-dark: #1a1d3f;
$color-dark-alt: #20234b;
$color-red: #ff4b58;
$color-red-90: rgba($color-red, 0.6);
$color-red-50: rgba($color-red, 0.25);
$color-violet: #3e438d;
$color-gray: #4d547b;

$color-border: $color-gray;
